<%= error_messages_for 'series' %>

<!--[form:series]-->
<p><label for="series_year">Year</label><br/>
<%= text_field 'series', 'year'  %></p>

<p><label for="series_blurb">Blurb</label><br/>
<%= text_area 'series', 'blurb'  %></p>
<!--[eoform:series]-->

