<%= error_messages_for 'team' %>

<!--[form:team]-->
<p><label for="team_name">Name</label><br/>
<%= text_field 'team', 'name'  %></p>

<p><label for="team_url">Url</label><br/>
<%= text_field 'team', 'url'  %></p>
<!--[eoform:team]-->

