<% for column in Rider.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @rider.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @rider %> |
<%= link_to 'Back', :action => 'list' %>
