/* @override http://localhost:3000/stylesheets/lkhc.css?1197243951 */

/* @override http://localhost:3000/stylesheets/lkhc.css?1197243951 */

/* @override http://localhost:3000/stylesheets/lkhc.css?1197243507 */

/* @override http://localhost:3000/stylesheets/lkhc.css?1197242810 */

/* @override http://localhost:3000/stylesheets/lkhc.css?1197241016 */

html {

}

body {
	background: #b0d2e6;
}

#doc4 {
	background-image: url(/images/background-stripe.jpg);
	color: white;

}

#bd {

	
}

#banner {

}

#blurb {
	padding: 20px;
	margin-left: 47px;
	margin-right: 49px;
	text-align: center;
	font-style: italic;
}

#mainbody {
	margin-left: 47px;
	margin-right: 49px;
	padding: 15px;
}

p {
	margin-bottom: 10px;
}

h1 {
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 5px;
}

h2 {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 5px;
}

#leftpage {
	padding-left: 10px;
	
}

#rightpage {

}

#ft {
	margin-top: 20px;
}

#menu {
	border-top: 4px solid white;
	border-bottom: 4px solid white;

	margin-top: 5px;
	margin-left: 47px;
	margin-right: 49px;
		background-image: url(/images/menu_slice.jpg);


	
	display:  block;
}

#inner_menu {
	margin-left: auto;
	margin-right:  auto;
	text-align: center;
	display: inline;
}

#menu ul {
	list-style-type: none;
	overflow: auto;	
}

#menu ul li {
	float:  left;
}

#menu ul li:hover {
	float:  left;
	background-image: url(/images/menu_highlighted.jpg);
}


#menu ul li a {
	display:  block;
	color: #004890;	
	background-image: url(/images/menu_separator.jpg);
	background-position: right;
	background-repeat: no-repeat;
	padding-left:  10px;
	padding-right: 10px;
	text-decoration: none;
	line-height: 1.9em;
}
