<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Climb: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'reset-fonts-grids' %>
  <%= stylesheet_link_tag 'base' %>
	
	<script type="text/javascript" charset="utf-8">
		
		function copy_time(from, to)
		{
			for (var i=1; i < 6; i++) 
			{
				new_from = from + "_" + i + "i";
				new_to = to + "_" + i + "i";
				
				from_id = document.getElementById(new_from);
				to_id = document.getElementById(new_to);
				
				if (from_id && to_id)
				{
					to_id.selectedIndex = from_id.selectedIndex;
				}
			};
		}
		
	</script>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
